# Compiled JavaScript files
lib/**/*.js
lib/**/*.json
lib/**/*.js.map
lib/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# package-lock.json file
package-lock.json

# dotenv environment variables file
.env
